version: "3.9"
services:
  db:
    image: mysql:8.0
    container_name: mydb
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: mydb
      MYSQL_USER: go_user
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "db"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: go_app
    ports:
      - "8081:8081"
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_DSN: go_user:${MYSQL_PASSWORD}@tcp(db:3306)/mydb?parseTime=true

volumes:
  db_data:
